.DS_Store
**/node_modules
**/*/package-lock.json

!data/readme.md

#
data
temp
dist
# data/_*
# data/mosquitto
# data/zigbee2mqtt
# data/hass
# data/influxdb

scripts/health-data/data
scripts/health-data/output

# # auth files
# data/hass/.cloud
# data/hass/deps
# data/hass/tts
# data/hass/.HA_VERSION
# data/hass/*.db*
# data/hass/*.log*
# data/hass/.storage/auth
# data/hass/.storage/auth_provider.homeassistant
# data/hass/.storage/secrets.yaml
