<form [formGroup]="form" (ngSubmit)="onSubmit()" class="entity-mapping-form">
    <div class="form-group">
        <label for="templateId">Template ID:</label>
        <br />
        <select id="templateId" formControlName="templateId" required>
            <option value="" disabled selected>Select a template</option>
            <option *ngFor="let template of templates" [value]="template.id">
                {{ template.id }} ({{ template.type }})
            </option>
        </select>
    </div>
    <br/>
    <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Next</button>
</form>