<div class="container">
    <table>
        <thead>
            <tr>
                <th *ngFor="let column of columns" scope="col">{{ column.label }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of rows">
                <td *ngFor="let column of columns" class="fd-table__cell">
                    <span *ngIf="column.key !== 'actions'">{{ row[column.key] }}</span>
                    <span *ngIf="column.key === 'actions'">
                        <button
                            *ngFor="let action of actions"
                            [disabled]="!onEnabledCheck(action, row)"
                            (click)="onActionClick(action, row)"
                            class="action"
                            type="button"
                        >{{ action.label }}</button>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>