<h2>Entities</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="entity-mapping-form">
    <div *ngFor="let control of controls">
        <label [for]="control.id">{{ control.label }}:</label>
        <input [id]="control.id" [formControlName]="control.id" required [readonly]="control.readonly" />
    </div>
    <button type="submit" [disabled]="form.invalid">Preview</button>
</form>

<section *ngFor="let preview of previews" class="text-comparison-section">
    <h2>{{ preview.title }}</h2>
    <app-diff-editor [original]="preview.template" [modified]="preview.output"></app-diff-editor>
</section>

<button *ngIf="(previews?.length || 0) > 0" (click)="onSave()" class="entity-mapping-form">Save</button>
