PORT=
AUTHENTIK_CLIENT_ID=
AUTHENTIK_CLIENT_SECRET=
AUTHENTIK_ISSUER_URL=
AUTHENTIK_REDIRECT_URI=
SESSION_SECRET=
PAPERLESS_TOKEN=

DIR_PRINTER_PAPERLESS=
DIR_PAPERLESS_CONSUME=
DIR_PAPERLESS_EXPORT=
DIR_SYNOLOGY_DOCS=