POSTGRES_HOST=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

VIKUNJA_DATABASE_TYPE=postgres
VIKUNJA_DATABASE_HOST=office-postgres
VIKUNJA_DATABASE_DATABASE=${POSTGRES_DB}
VIKUNJA_DATABASE_USER="${POSTGRES_USER}"
VIKUNJA_DATABASE_PASSWORD="${POSTGRES_PASSWORD}"
